@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-gray-50 text-gray-900;
}


.product-description h1 {
    @apply text-2xl md:text-3xl font-bold mb-4;
}

.product-description h2 {
    @apply text-xl md:text-2xl font-semibold mb-3;
}

.product-description h3 {
    @apply text-lg md:text-xl font-semibold mb-2;
}

.product-description h4 {
    @apply text-base md:text-lg font-semibold mb-2;
}

.product-description h5 {
    @apply text-sm md:text-base font-semibold mb-1;
}

.product-description p {
    @apply mb-2;
}

.product-description ul {
    @apply list-disc pl-5 mb-2;
}

.product-description li {
    @apply mb-1;
}
